@import './base.css';
@import "tailwindcss";

@tailwind utilities;

:root {
  /* hoặc giá trị thực tế của .topbar */
  --header-topbar-height: 88px;
  /* hoặc giá trị thực tế của .navbar */
  --header-navbar-height: 48px;
  --header-bar-height: calc(var(--header-topbar-height) + var(--header-navbar-height));
  --top-scroll: calc(var(--header-bar-height) + 32px);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.item-title {
  font-size: 14px;
}